body{

background:#eef4ff;

font-family:Poppins,sans-serif;

}

.card{

border:none;

border-radius:20px;

}

input{

border-radius:10px;

padding:12px;

}

button{

border-radius:30px;

font-size:18px;

}