body{
background:#eef4ff;
font-family:Poppins,sans-serif;
}

.order-card{
background:#fff;
padding:20px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,.12);
margin-bottom:20px;

display:flex;
justify-content:space-between;
align-items:center;
}

.order-card img{
width:120px;
height:90px;
object-fit:cover;
border-radius:10px;
}

.order-info{
flex:1;
padding-left:20px;
}

.status{
color:green;
font-weight:bold;
font-size:18px;
}