body{

margin:0;

font-family:'Poppins',sans-serif;

background:
linear-gradient(
135deg,
#020617,
#1e293b
);

}



.signup-section{

min-height:100vh;

display:flex;

align-items:center;

padding:50px 0;

}



.signup-card{


background:white;

padding:45px;

border-radius:25px;

box-shadow:
0 20px 40px rgba(0,0,0,0.3);

text-align:center;


}



.logo{


font-size:30px;

font-weight:700;

color:#2563eb;

margin-bottom:15px;


}



.signup-card h2{


font-size:35px;

font-weight:700;

color:#111827;


}



.signup-card p{


color:#64748b;


}




.input-box{


display:flex;

align-items:center;

background:#f1f5f9;

padding:14px;

border-radius:12px;

margin:15px 0;


}



.input-box i{


color:#2563eb;

margin-right:12px;


}



.input-box input{


border:none;

outline:none;

background:none;

width:100%;

font-size:16px;


}



.terms{


text-align:left;

font-size:14px;

margin:20px 0;


}



.signup-btn{


width:100%;

padding:15px;

border:none;

border-radius:30px;


background:
linear-gradient(
135deg,
#2563eb,
#06b6d4
);


color:white;

font-size:18px;

font-weight:bold;


}



.signup-btn:hover{


transform:translateY(-3px);


}



.login-link{


margin-top:25px;


}



.login-link a{


color:#2563eb;

font-weight:bold;

text-decoration:none;


}